#branch-box {
  width: 200px;
  height: 100px;
  position: relative;
  margin: 0 35px 0 35px;
  z-index: -1;
}

#branch {
  font-size: small;
  width: 125px;
  height: 125px;
  position: absolute;
  top: -13px;
  left: 45px;
  transform: rotate(45deg) skew(-27deg, -27deg); /* 関数同士はスペースで空ける */
}

#branch-text-box {
  position: absolute;
  top: 20px;
  left: 15px;
  transform: skew(25deg, 25deg) rotate(-45deg); /* 傾き・回転をリセット */
}