.creation-modal3-box {
  margin: 20px auto;
  text-align: center;
}

.creation-modal3-box-which-node-box {
  margin-bottom: 20px;
}

.creation-modal3-box-which-node-box h3 {
  font-size: larger;
  margin-bottom: 10px;
}

.creation-modal3-box-text-box {
  margin-bottom: 20px;
}

.creation-modal3-box-text-field {
  height: 2.4em;
  width: 400px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.creation-modal3-box2-detail-box {
  margin-bottom: 20px;
}

.creation-modal3-box-detail-field {
  height: 200px;
  width: 400px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.creation-modal3-box2 {
  margin: 20px auto;
  text-align: center;
}